body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 200px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center-cropped {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 50%;
}
    /* Set the image to fill its parent and make transparent */
.center-cropped img {
    min-height: 100%;
    min-width: 100%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 5-7 */
    filter: alpha(opacity=0);
    /* modern browsers */
    opacity: 0;
    
}

#Bio {
    max-width: 280px;
    width: 100%;
    height: 180px;
    padding: 5px;
}