body {
}

.mainContainer  {
    width: 100%;
    height: 30vh;
    height: 100vh;
}

.topSection {
    height: 30vh;
    margin-bottom: 100px;
}
.imageSection {
    position: relative;
    height: inherit;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.headerImg{
    min-width: 900px;
    max-width: 1100px;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

.profileImg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    border: 3px white solid;
}
footer{
    bottom:0;
}
.bottomLeftSection{
    width:50%;
}
.bottomRightSection{
    width:50%;
}