@model MITT_Intern_2019_10_10.Models.MessageCarrier
@{
    ViewBag.Title = "MessagePage";
}

<h2>MessagePage</h2>

@if (Model != null)
{
    <div>
        <p>@Model.message</p>
    </div>
}
@if (Model != null)
{
    if (Model.UserId != null)
    {
        
        <div>\\\\\\\\\\\\\\\\\\\\\\\\\\</div>
        @Html.ActionLink("Continue", Model.actn, Model.ctrller, new { id = Model.UserId }, null);
        
    }
    else
    {
        @Html.ActionLink("Continue", Model.actn, Model.ctrller);
    }
}