@model MITT_Intern_2019_10_10.Models.Student

@{
    ViewBag.Title = "AddResume";
}

<h2>AddResume</h2>

@using (Html.BeginForm("AddResume", "Students", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("studentId", new {studentId = Model.Id} )
    <label for="file">Upload/Change Profile Image:</label>
    <input type="file" onchange="readURL(this, document.getElementById('resume'))" name="resume" id="resume" style="width: 100%;" />
    <input type="submit" value="Submit" />
}
