@model IEnumerable<MITT_Intern_2019_10_10.Models.Posting>

@{
    ViewBag.Title = "StudentHomePage";
}

<h2>StudentHomePage</h2>
<h1>
    Check out all the internship postings in your field!
</h1>
<div style="margin-top:50px;padding:20px;border:1px solid gray;border-radius: 5px;background-color: #f8f8f8;">
    <div style="margin-bottom:10px;font-size:25px;display:flex;justify-content:space-between">
        <span>Posts for your Program:</span> 
    </div>
    <table>
        @foreach (var post in Model)
        {
            <tr>
                <td>
                    <a class="noUnderlineHover" href="~/Postings/Details?id=@post.Id">
                        <div style="border:1px solid lightgrey;border-radius:5px;padding:20px;margin-bottom:15px;background-color: white;" class="pleaseFix">
                            <h4 class="title">@post.Title</h4>
                            <p style="color:black;">@post.Content</p>
                        </div>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>